// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//body
$main-color: #f5f5f5;
//hr
$splitter: #eaeaea;
//colors for message
$msg-to-you: #3b4252;
$color-msg-to-you: #dfe3e8;
$msg-yours: #e0e0e0;
$color-msg-yours: #dfe3e8;
$color-data: #c5c5c5;
//color for users component
$color-headline-users: #76b5c9;
//resolution
$mobile: 280px;
$tablet: 768px;
$desktop: 1200px;

//users container
$users-bgc: #FFFFFF;

//chat
$chat-block: #FAFAFA;

//avatar
%avatar-img {
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: contain;
    object-position: center;
    @media screen and (min-width:$mobile) {
        width: 40px;
        height: 40px;

    }
    @media screen and (min-width:$tablet) {
        width: 50px;
        height: 50px;
    }
    @media screen and (min-width:$desktop) {
        width: 60px;
        height: 60px;
    }
    &.mini {
        width: 40px;
        height: 40px;
    }
}

%avatar-block {
    padding: 10px;
    @media screen and (min-width:$mobile) {
        width: 40px;
        height: 40px;

    }
    @media screen and (min-width:$tablet) {
        width: 50px;
        height: 50px;
    }
    @media screen and (min-width:$desktop) {
        width: 60px;
        height: 60px;
    }

    &.verify {
        position: relative;
    }
    .avatar-icon {
        color: green;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &.mini {
        width: 40px;
        height: 40px;
    }

}

%input {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-color: #e2e2e2;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
    -moz-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
    box-shadow: 0 0 5px 0 rgba(226,226,226,255);
    color: #b9b9b9;
    background-color: #fff;
    &%input:not(:placeholder-shown) {
        color: #3b4252;
    }
    &%input:focus::placeholder {
        color: transparent;
      }
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
