@import "./variables";

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    &-logut {
        background-color: #fff;
        color: black;
        border: none;
        outline: none;
        transition: all 1 ease-in-out;
        padding: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        -moz-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        cursor: pointer;
    }
    &-logut:hover {
        background-color: rgb(224, 68, 68);
        -webkit-box-shadow: 0 0 5px 0 rgba(224, 68, 68,255);
        -moz-box-shadow: 0 0 5px 0 rgba(224, 68, 68,255);
        box-shadow: 0 0 5px 0 rgba(224, 68, 68,255);
        color: #fff;
        transition: all 1 ease-in-out;
    }
}
.search {
    &-input {
        @extend %input;
        padding: 10px 0 10px 40px;
        @media screen and (min-width:$mobile) {
            width: 80%!important;

        }
        @media screen and (min-width:$tablet) {
            width: 90%!important;
        }
    }
    &-panel {
        position: relative;
        width: 80%;
        padding: 20px 20px 20px 5px;
        margin: 0 auto;
    }
    &-submit {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0,-50%);
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background: none;
        opacity: 0.8;
    }
    &-result {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(15px, 60px);
        z-index: 5;
        background-color: $chat-block;
        border-radius: 10px;
        max-height: 200px;
        overflow: scroll;
        width: 100%;

        &.visible {
            display: block;
        }

        &-options {
            list-style: none;
            border-radius: 10px;

        }
    }

    &-option {
        border-bottom: 1px solid black;
        cursor: pointer;
        padding: 10px;
        &.users {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &-detail
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
        
    }
    &-option:hover {
        background-color: #fff;
    }
    &-yellow {
        color: yellow;
    }

}
