@import "./variables";

.login {
    &-block {
        @extend %flex-center;
        margin: auto;
        
        border-radius: 20px;
        -webkit-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        -moz-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        transform: translate(0,50%);
        background-color: #e0e0e0;
        @media screen and (min-width:$mobile) {
            width: 80%;
    
        }
        @media screen and (min-width:$tablet) {
            min-height: 360px;
        min-width: 360px;
        max-width: 400px;
        max-height: 400px;
        }
        @media screen and (min-width:$desktop) {
            min-height: 360px;
        min-width: 360px;
        max-width: 400px;
        max-height: 400px;
        }
    }

    &-input {
        @extend %input;
        padding: 10px;
        margin-top: 10px;
        @media screen and (min-width:$mobile) {
            width: 80%!important;
    
        }
        @media screen and (min-width:$tablet) {
            width: 100%!important;
        }

    }

    &-form {
        height: 100%;
        width: 80%;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        label{
            display: flex;
            flex-direction: column;
        }
    }
    &-buttons {
        display: flex;
        justify-content: start;
        gap: 20px;
    }
    &-button {
        width: 80px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        -moz-box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        box-shadow: 0 0 5px 0 rgba(226,226,226,255);
        background-color: $color-headline-users;
        color: $users-bgc;
        cursor:pointer;
        
        }

}
