.custom-scrollbars {
    &__container{background-color: $chat-block;
    height: calc(80% - 10px);
    overflow: hidden;
    position: relative;
  }
  &__content {
    height: calc(100% - 20px);
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none;
  }
  &__content::-webkit-scrollbar {
    display: none;
  }
  &__scrollbar {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template: auto 1fr auto / 1fr;
    padding: 1rem;
    place-items: center;
    opacity: 0;
    transition: all 1s ease-out;
  }
  &__scrollbar:hover{
    opacity: 1;
    transition: all 1s ease-out;
  }
  &__track-and-thumb {
    display: block;
    height: 100%;
    position: relative;
    width: 16px;
   
  }

  &__track {
    background-color: #ccc;
    border-radius: 12px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 16px;
  }
  &__thumb {
    border-radius: 12px;
    background-color: #333;
    position: absolute;
    width: 16px;
  }
}