@import url(https://fonts.googleapis.com/css?family=Nunito);
.avatar-img {
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 375px) {
  .avatar-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-img {
    width: 60px;
    height: 60px;
  }
}
.mini.avatar-img {
  width: 40px;
  height: 40px;
}

.avatar-block {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .avatar-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-block {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-block {
    width: 60px;
    height: 60px;
  }
}
.verify.avatar-block {
  position: relative;
}
.avatar-block .avatar-icon {
  color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mini.avatar-block {
  width: 40px;
  height: 40px;
}

.search-input, .login-input, .chatapp-container .message-area {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  color: #b9b9b9;
  background-color: #fff;
}
.search-input:not(:-moz-placeholder-shown), .login-input:not(:-moz-placeholder-shown), .chatapp-container .message-area:not(:-moz-placeholder-shown) {
  color: #3b4252;
}
.search-input:not(:placeholder-shown), .login-input:not(:placeholder-shown), .chatapp-container .message-area:not(:placeholder-shown) {
  color: #3b4252;
}
.search-input:focus::-moz-placeholder, .login-input:focus::-moz-placeholder, .chatapp-container .message-area:focus::-moz-placeholder {
  color: transparent;
}
.search-input:focus::placeholder, .login-input:focus::placeholder, .chatapp-container .message-area:focus::placeholder {
  color: transparent;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #f5f5f5;
  min-height: 100%;
  height: 100%;
}

* html #root {
  height: 100%;
}

.splitter {
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}

.custom-scrollbars__track-and-thumb {
  display: block;
  height: 100%; /* must have some height */
  position: relative;
  width: 16px; /* must have some width */
}

.custom-scrollbars__thumb {
  position: absolute;
  width: 16px; /* must have some width */
}

.avatar-img {
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 375px) {
  .avatar-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-img {
    width: 60px;
    height: 60px;
  }
}
.mini.avatar-img {
  width: 40px;
  height: 40px;
}

.avatar-block {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .avatar-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-block {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-block {
    width: 60px;
    height: 60px;
  }
}
.verify.avatar-block {
  position: relative;
}
.avatar-block .avatar-icon {
  color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mini.avatar-block {
  width: 40px;
  height: 40px;
}

.search-input, .login-input, .chatapp-container .message-area {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  color: #b9b9b9;
  background-color: #fff;
}
.search-input:not(:-moz-placeholder-shown), .login-input:not(:-moz-placeholder-shown), .chatapp-container .message-area:not(:-moz-placeholder-shown) {
  color: #3b4252;
}
.search-input:not(:placeholder-shown), .login-input:not(:placeholder-shown), .chatapp-container .message-area:not(:placeholder-shown) {
  color: #3b4252;
}
.search-input:focus::-moz-placeholder, .login-input:focus::-moz-placeholder, .chatapp-container .message-area:focus::-moz-placeholder {
  color: transparent;
}
.search-input:focus::placeholder, .login-input:focus::placeholder, .chatapp-container .message-area:focus::placeholder {
  color: transparent;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.users {
  background-color: #FAFAFA;
  position: relative;
  height: calc(100% - 60px);
}
.users-container {
  width: 30%;
  border-right: 1px solid #eaeaea;
}
.users-block {
  height: calc(100% - 60px);
  background-color: #FAFAFA;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
.users-title {
  color: #76b5c9;
  padding-bottom: 40px;
  padding-top: 20px;
}
.users .user {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.users .user-last-date {
  justify-self: flex-end;
  font-size: 14px;
  width: 90px;
}
.users .user-main-data {
  display: flex;
  gap: 10px;
}
.users .user-text-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.users .user-last-msg {
  opacity: 0.5;
}
.users .user-main-data {
  width: calc(100% - 90px);
}
.users .user-container {
  position: absolute;
  width: 100%;
}

.avatar-img {
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 375px) {
  .avatar-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-img {
    width: 60px;
    height: 60px;
  }
}
.mini.avatar-img {
  width: 40px;
  height: 40px;
}

.avatar-block {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .avatar-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-block {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-block {
    width: 60px;
    height: 60px;
  }
}
.verify.avatar-block {
  position: relative;
}
.avatar-block .avatar-icon {
  color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mini.avatar-block {
  width: 40px;
  height: 40px;
}

.search-input, .login-input, .chatapp-container .message-area {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  color: #b9b9b9;
  background-color: #fff;
}
.search-input:not(:-moz-placeholder-shown), .login-input:not(:-moz-placeholder-shown), .chatapp-container .message-area:not(:-moz-placeholder-shown) {
  color: #3b4252;
}
.search-input:not(:placeholder-shown), .login-input:not(:placeholder-shown), .chatapp-container .message-area:not(:placeholder-shown) {
  color: #3b4252;
}
.search-input:focus::-moz-placeholder, .login-input:focus::-moz-placeholder, .chatapp-container .message-area:focus::-moz-placeholder {
  color: transparent;
}
.search-input:focus::placeholder, .login-input:focus::placeholder, .chatapp-container .message-area:focus::placeholder {
  color: transparent;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatapp-container {
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
.chatapp-container .chat-block {
  width: 70%;
}
.chatapp-container .messages {
  padding: 20px;
  background-color: #FAFAFA;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chatapp-container .messages.reverce {
  flex-direction: column-reverse;
}
.chatapp-container .messages .no-msg {
  justify-self: flex-end;
  font-style: italic;
  opacity: 0.5;
}
.chatapp-container .reciever {
  padding: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
.chatapp-container .message {
  transition: all 0.5 linear;
}
.chatapp-container .message.left {
  align-self: start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #dfe3e8;
}
.chatapp-container .message.left .message-text {
  background-color: #3b4252;
}
.chatapp-container .message.left .message-date {
  padding-left: 70px;
  padding-top: 10px;
}
.chatapp-container .message.right {
  align-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.chatapp-container .message.right .message-text {
  background-color: #e0e0e0;
}
.chatapp-container .message-text {
  padding: 10px;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.chatapp-container .message-date {
  color: #dfe3e8;
}
.chatapp-container .message-send {
  max-height: 200px;
  min-height: 50px;
}
.chatapp-container .message-body {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}
.chatapp-container .message-area {
  padding: 10px 10px 0;
}
.chatapp-container .message-form {
  position: relative;
  width: 95%;
  margin: 20px auto;
}
.chatapp-container .message-submit {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  opacity: 0.8;
}

.avatar-img {
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 375px) {
  .avatar-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-img {
    width: 60px;
    height: 60px;
  }
}
.mini.avatar-img {
  width: 40px;
  height: 40px;
}

.avatar-block {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .avatar-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-block {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-block {
    width: 60px;
    height: 60px;
  }
}
.verify.avatar-block {
  position: relative;
}
.avatar-block .avatar-icon {
  color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mini.avatar-block {
  width: 40px;
  height: 40px;
}

.search-input, .login-input, .chatapp-container .message-area {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  color: #b9b9b9;
  background-color: #fff;
}
.search-input:not(:-moz-placeholder-shown), .login-input:not(:-moz-placeholder-shown), .chatapp-container .message-area:not(:-moz-placeholder-shown) {
  color: #3b4252;
}
.search-input:not(:placeholder-shown), .login-input:not(:placeholder-shown), .chatapp-container .message-area:not(:placeholder-shown) {
  color: #3b4252;
}
.search-input:focus::-moz-placeholder, .login-input:focus::-moz-placeholder, .chatapp-container .message-area:focus::-moz-placeholder {
  color: transparent;
}
.search-input:focus::placeholder, .login-input:focus::placeholder, .chatapp-container .message-area:focus::placeholder {
  color: transparent;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  margin: auto;
  min-height: 360px;
  min-width: 360px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  transform: translate(0, 50%);
  background-color: #e0e0e0;
}
.login-input {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
}
.login-form {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.login-buttons {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.login-button {
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  background-color: #76b5c9;
  color: #FFFFFF;
  cursor: pointer;
}

.avatar-img {
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 375px) {
  .avatar-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-img {
    width: 60px;
    height: 60px;
  }
}
.mini.avatar-img {
  width: 40px;
  height: 40px;
}

.avatar-block {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .avatar-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .avatar-block {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .avatar-block {
    width: 60px;
    height: 60px;
  }
}
.verify.avatar-block {
  position: relative;
}
.avatar-block .avatar-icon {
  color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mini.avatar-block {
  width: 40px;
  height: 40px;
}

.search-input, .chatapp-container .message-area, .login-input {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-color: #e2e2e2;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(226, 226, 226);
  color: #b9b9b9;
  background-color: #fff;
}
.search-input:not(:-moz-placeholder-shown), .chatapp-container .message-area:not(:-moz-placeholder-shown), .login-input:not(:-moz-placeholder-shown) {
  color: #3b4252;
}
.search-input:not(:placeholder-shown), .chatapp-container .message-area:not(:placeholder-shown), .login-input:not(:placeholder-shown) {
  color: #3b4252;
}
.search-input:focus::-moz-placeholder, .chatapp-container .message-area:focus::-moz-placeholder, .login-input:focus::-moz-placeholder {
  color: transparent;
}
.search-input:focus::placeholder, .chatapp-container .message-area:focus::placeholder, .login-input:focus::placeholder {
  color: transparent;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px 0 10px 40px;
}
.search-panel {
  position: relative;
  width: 90%;
  padding: 20px 20px 20px 5px;
}
.search-submit {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  opacity: 0.8;
}
.search-result {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, 60px);
  z-index: 5;
  background-color: #FAFAFA;
  border-radius: 10px;
  max-height: 200px;
  overflow: scroll;
}
.search-result.visible {
  display: block;
}
.search-options {
  list-style: none;
  border-radius: 10px;
}
.search-option {
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px;
}
.search-option:hover {
  background-color: #fff;
}
.search-yellow {
  color: yellow;
}
